
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 ng-show="vm.diagnostico.id === null" class="modal-title" id="myDiagnosticoLabel" data-translate="dentalApp.diagnostico.home.createLabel">Create Diagnostico</h4>
        <h4 ng-hide="vm.diagnostico.id === null" class="modal-title" id="myDiagnosticoLabel" data-translate="dentalApp.diagnostico.home.editLabel">Edit a Diagnostico</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.diagnostico.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.diagnostico.id" readonly />
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label class="control-label" data-translate="dentalApp.diagnostico.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" uib-datepicker-popup="{{dateformat}}" ng-model="vm.diagnostico.fecha" is-open="vm.datePickerOpenStatus.fecha"
                        required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                <div ng-show="editForm.fecha.$invalid">
                    <p class="help-block"
                        ng-show="editForm.fecha.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label data-translate="dentalApp.diagnostico.pieza" for="field_pieza">Pieza</label>
                <select class="form-control" id="field_pieza" name="pieza" ng-model="vm.diagnostico.pieza" ng-options="pieza as pieza.numeroPieza+' ('+pieza.nombre+')' for pieza in vm.piezas track by pieza.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dentalApp.diagnostico.descripcion" for="field_descripcion">Descripcion</label>
            <textarea type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.diagnostico.descripcion" rows="3" cols="50"
                      required></textarea>
            <div ng-show="editForm.descripcion.$invalid">
                <p class="help-block"
                    ng-show="editForm.descripcion.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ng-hide="vm.diagnostico.id == null">
            <label class="control-label" data-translate="dentalApp.diagnostico.estado" for="field_estado">Estado</label>
            <select class="form-control" name="estado" ng-model="vm.diagnostico.estado" id="field_estado" required>
                <option value="PENDIENTE" data-translate="dentalApp.EstadoDiagnostico.PENDIENTE">PENDIENTE</option>
                <option value="REALIZADO" data-translate="dentalApp.EstadoDiagnostico.REALIZADO">REALIZADO</option>
                <option value="CANCELADO" data-translate="dentalApp.EstadoDiagnostico.CANCELADO">CANCELADO</option>
            </select>
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                   ng-show="editForm.estado.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ng-show="vm.mostrarPaciente">
            <label data-translate="dentalApp.diagnostico.paciente" for="field_paciente">Paciente</label>
            <select class="form-control" id="field_paciente" name="paciente" ng-model="vm.diagnostico.paciente" ng-options="paciente as paciente.nombres+' '+paciente.apellidos for paciente in vm.pacientes track by paciente.id" required>
            </select>
        </div>
        <div ng-show="editForm.paciente.$invalid">
            <p class="help-block"
                ng-show="editForm.paciente.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
