
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 ng-show="vm.pago.id === null" class="modal-title" id="myPagoLabel" data-translate="dentalApp.pago.home.createLabel">Create a Pago</h4>
        <h4 ng-hide="vm.pago.id === null" class="modal-title" id="myPagoLabel" data-translate="dentalApp.pago.home.editLabel">Edit a Pago</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pago.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pago.id" readonly />
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label class="control-label" data-translate="dentalApp.pago.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" uib-datepicker-popup="{{dateformat}}" ng-model="vm.pago.fecha" is-open="vm.datePickerOpenStatus.fecha"
                        required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                <div ng-show="editForm.fecha.$invalid">
                    <p class="help-block"
                        ng-show="editForm.fecha.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label class="control-label" data-translate="dentalApp.pago.monto" for="field_monto">Monto</label>
                <input type="number" class="form-control" name="monto" id="field_monto"
                       ng-model="vm.pago.monto"
                       required/>
                <div ng-show="editForm.monto.$invalid">
                    <p class="help-block"
                       ng-show="editForm.monto.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.monto.$error.number" data-translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dentalApp.pago.observacion" for="field_observacion">Observacion</label>
            <textarea type="text" class="form-control" name="observacion" id="field_observacion"
                    ng-model="vm.pago.observacion" rows="2"></textarea>
        </div>
        <div class="form-group" ng-show="vm.mostrarPaciente">
            <label data-translate="dentalApp.pago.paciente" for="field_paciente">Paciente</label>
            <select class="form-control" id="field_paciente" name="paciente" ng-model="vm.pago.paciente" ng-options="paciente as paciente.nombres+' '+paciente.apellidos for paciente in vm.pacientes track by paciente.id" required>
            </select>
        </div>
        <div ng-show="editForm.paciente.$invalid">
            <p class="help-block"
                ng-show="editForm.paciente.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
