<div>
    <h2 data-translate="dentalApp.nota.home.title">Notas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="nota.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="dentalApp.nota.home.createLabel">
                        Create new Nota
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span data-translate="dentalApp.nota.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comentario"><span data-translate="dentalApp.nota.comentario">Comentario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usuario"><span data-translate="dentalApp.nota.usuario">Usuario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paciente.id"><span data-translate="dentalApp.nota.paciente">Paciente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nota in vm.notas track by nota.id">
                    <td><a ui-sref="nota-detail({id:nota.id})">{{nota.id}}</a></td>
                        <td>{{nota.fecha | date:'mediumDate'}}</td>
                    <td>{{nota.comentario}}</td>
                    <td>{{nota.usuario}}</td>
                    <td>
                        <a ui-sref="paciente-detail({id:nota.paciente.id})">{{nota.paciente.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="nota-detail({id:nota.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="nota.edit({id:nota.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="nota.delete({id:nota.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
