<div ng-cloak>
    <div class="row">
        <!--<div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>-->
        <div class="col-md-10 col-md-offset-1 text-center">


            <div ng-switch="vm.isAuthenticated()">
                <!--<div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>-->

                <div ng-switch-when="true" has-authority="ROLE_USER">
                    <!--p data-translate="home.enlaces">
                        Algunos accesos directos:
                    </p>

                    <div class="btn-cuadro row" role="group">
                        <button class="btn btn-primary" ui-sref="paciente">
                            <span class="glyphicon glyphicon-user"></span>
                            <span data-translate="home.botones.paciente">ver Pacientes</span>
                        </button>
                        <button class="btn btn-primary" ui-sref="diagnostico">
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span data-translate="home.botones.diagnostico">Ver diagnosticos</span>
                        </button>
                        <button class="btn btn-primary" ui-sref="tratamiento">
                            <span class="glyphicon glyphicon-saved"></span>
                            <span data-translate="home.botones.tratamiento">Ver tratamientos</span>
                        </button>
                        <button class="btn btn-primary" ui-sref="cuenta">
                            <span class="glyphicon glyphicon-usd"></span>
                            <span data-translate="home.botones.cuenta">Ver cuentas</span>
                        </button>
                    </div-->

                    <!-- FILTRO -->



                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-primary" ui-sref="home.paciente" style="height: 46px; width: 100%">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span data-translate="home.createLabel">Create new Paciente</span>
                                </button>
                            </div>
                            <br class="visible-xs">
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control input-lg" placeholder="Buscar por nombre o cedula" ng-model="vm.filtro"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button" ng-click="vm.buscar()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="text-center">
                            <h1 data-translate="home.title-login">Listado de pacientes</h1>
                            <hr>
                        </div>



                    <!-- TABLA DE PACIENTES -->
                    <div class="table-responsive">
                        <table class="jh-table table table-striped">
                            <thead class="t-head">
                            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                <th jh-sort-by="nombres"><span data-translate="home.paciente.nombres">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="cedula"><span data-translate="home.paciente.cedula">Cedula</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="telefono"><span data-translate="home.paciente.telefono">Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="celular"><span data-translate="home.paciente.celular">Celular</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="mail"><span data-translate="home.paciente.mail">Mail</span> <span class="glyphicon glyphicon-sort"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="paciente in vm.pacientes track by paciente.id">
                                <!--<td><a ui-sref="paciente-detail({id:paciente.id})">{{paciente.id}}</a></td>-->
                                <td><a ui-sref="paciente-home({id:paciente.id})">{{paciente.nombres}} {{paciente.apellidos}}</a></td>
                                <td>{{paciente.cedula}}</td>
                                <td>{{paciente.telefono}}</td>
                                <td>{{paciente.celular}}</td>
                                <td>{{paciente.mail}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                    <!-- FIN - TABLA DE PACIENTES -->
                    </div>

                </div>

                <div ng-switch-when="false" class="col-md-6 col-md-offset-3">

                    <h1 data-translate="home.title">Welcome to Dental!</h1>
                    <p class="lead" data-translate="home.subtitle">This is your homepage</p>

                    <button class="btn btn-primary" style="width: 50%;margin-bottom: 4em;margin-top: 2em;" ng-click="vm.login()">
                        <span data-translate="global.messages.info.login">Ingresar</span>
                    </button>

                    <div class="alert alert-warning" data-translate="global.messages.info.register" translate-compile>
                        You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
