<div class="row" ng-cloak>

    <div class="text-center">
        <h2>{{vm.paciente.nombres}} {{vm.paciente.apellidos}} ({{vm.paciente.cedula}}) </h2>
        <hr>
    </div>
    <jhi-alert-error></jhi-alert-error>

    <div class="flex-btn-group-container text-center">
        <div class="col-md-3 col-xs-6 ">
            <div class="panel" ng-class="'panel-default'">
                <div class="panel-body">
                    Última visita: {{vm.paciente.ultimaVisita | date:'mediumDate'}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="panel" ng-class="'panel-danger'">
                <div class="panel-body">
                    Saldo: {{vm.paciente.saldo |currency:'$'}}
                </div>
            </div>
        </div>
    </div>

    <!-- Cuadro de acciones -->
    <div id="acciones" class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
            <div class="btn-cuadro" style="width: 100%">
                <button type="submit"
                        ui-sref="{{ vm.previousState }}"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
                </button>
                <button type="button" ui-sref="paciente-home.edit({id:vm.paciente.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-sm-down" data-translate="dentalApp.paciente.action.edit"> Edit</span>
                </button>
                <button type="button" ui-sref="paciente-home.tratamiento({id:vm.paciente.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-sm-down" data-translate="dentalApp.paciente.action.tratamiento"> Tratamiento</span>
                </button>
                <button type="button" ui-sref="paciente-home.diagnostico({id:vm.paciente.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-sm-down" data-translate="dentalApp.paciente.action.diagnostico"> Diagnostico</span>
                </button>
                <button type="button" ui-sref="paciente-home.pago({id:vm.paciente.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-sm-down" data-translate="dentalApp.paciente.action.pago"> Pago</span>
                </button>
            </div></div>
        </div>
    </div>

    <div id="info" class="col-md-9">
        <div class="panel-group" id="accordion">
           <!-- Panel datos Personales -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title col-xs-10" data-translate="dentalApp.paciente.home.personalesLabel">
                        Datos Personales
                    </h4>
                    <div class="flex-btn-group-container">
                        <a ng-show="vm.ocultarDatos" href="" ng-click="vm.ocultarDatos = !vm.ocultarDatos">Mostrar</a>
                        <a ng-hide="vm.ocultarDatos" href="" ng-click="vm.ocultarDatos = !vm.ocultarDatos">Ocultar</a>
                    </div>
                </div>
                <div id="datos-pers-panel" uib-collapse="vm.ocultarDatos">
                    <div class="panel-body">
                        <dl class="dl-horizontal jh-entity-details">
                            <!-- Datos Personales -->
                            <dt><span data-translate="dentalApp.paciente.fecha">Fecha</span></dt>
                            <dd>
                                <span>{{vm.paciente.fecha | date:'mediumDate'}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.nombres">Nombres</span></dt>
                            <dd>
                                <span>{{vm.paciente.nombres}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.apellidos">Apellidos</span></dt>
                            <dd>
                                <span>{{vm.paciente.apellidos}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.cedula">Cedula</span></dt>
                            <dd>
                                <span>{{vm.paciente.cedula}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.telefono">Telefono</span></dt>
                            <dd>
                                <span>{{vm.paciente.telefono}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.celular">Celular</span></dt>
                            <dd>
                                <span>{{vm.paciente.celular}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.direccion">Direccion</span></dt>
                            <dd>
                                <span>{{vm.paciente.direccion}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.mail">Mail</span></dt>
                            <dd>
                                <span>{{vm.paciente.mail}}</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <!-- Panel datos medicos-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title col-xs-10" data-translate="dentalApp.paciente.home.anteMedicosLabel">
                        Antecedentes medicos
                    </h4>
                    <div class="flex-btn-group-container">
                    <a ng-show="vm.ocultarAMedicos" href="" ng-click="vm.ocultarAMedicos = !vm.ocultarAMedicos">Mostrar</a>
                    <a ng-hide="vm.ocultarAMedicos" href="" ng-click="vm.ocultarAMedicos = !vm.ocultarAMedicos">Ocultar</a>
                    </div>
                </div>
                <div id="ante-medicos-panel" uib-collapse="vm.ocultarAMedicos">
                    <div class="panel-body">
                        <dl class="dl-horizontal jh-entity-details">
                            <!-- Datos Medicos -->
                            <dt><span data-translate="dentalApp.paciente.alergico">Alergico</span></dt>
                            <dd>
                                <span>{{vm.paciente.alergico}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.diabetes">Diabetes</span></dt>
                            <dd>
                                <span>{{vm.paciente.diabetes}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.presionAlta">Presion Alta</span></dt>
                            <dd>
                                <span>{{vm.paciente.presionAlta}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.tiroides">Tiroides</span></dt>
                            <dd>
                                <span>{{vm.paciente.tiroides}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.cicatrizacion">Cicatrizacion</span></dt>
                            <dd>
                                <span>{{vm.paciente.cicatrizacion}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.cardiaca">Cardiaca</span></dt>
                            <dd>
                                <span>{{vm.paciente.cardiaca}}</span>
                            </dd>
                            <dt><span data-translate="dentalApp.paciente.farmacos">Farmacos</span></dt>
                            <dd>
                                <span>{{vm.paciente.farmacos}}</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <!-- Panel tratamientos -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title col-xs-10" data-translate="dentalApp.paciente.home.tratamientoLabel">
                        Tratamientos
                    </h4>
                    <div class="flex-btn-group-container">
                        <a ng-show="vm.ocultarTratamientos" href="" ng-click="vm.ocultarTratamientos = !vm.ocultarTratamientos">Mostrar</a>
                        <a ng-hide="vm.ocultarTratamientos" href="" ng-click="vm.ocultarTratamientos = !vm.ocultarTratamientos">Ocultar</a>
                    </div>
                </div>
                <div id="datos-pers-panel" uib-collapse="vm.ocultarTratamientos">
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <!-- Panel diagnosticos -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title col-xs-10" data-translate="dentalApp.paciente.home.diagnosticosLabel">
                        Datos Personales
                    </h4>
                    <div class="flex-btn-group-container">
                        <a ng-show="vm.ocultarDiagnosticos" href="" ng-click="vm.ocultarDiagnosticos = !vm.ocultarDiagnosticos">Mostrar</a>
                        <a ng-hide="vm.ocultarDiagnosticos" href="" ng-click="vm.ocultarDiagnosticos = !vm.ocultarDiagnosticos">Ocultar</a>
                    </div>
                </div>
                <div id="datos-pers-panel" uib-collapse="vm.ocultarDiagnosticos">
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <!-- Panel pagos -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title col-xs-10" data-translate="dentalApp.paciente.home.pagosLabel">
                        Pagos
                    </h4>
                    <div class="flex-btn-group-container">
                        <a ng-show="vm.ocultarPagos" href="" ng-click="vm.ocultarPagos = !vm.ocultarPagos">Mostrar</a>
                        <a ng-hide="vm.ocultarPagos" href="" ng-click="vm.ocultarPagos = !vm.ocultarPagos">Ocultar</a>
                    </div>
                </div>
                <div id="datos-pers-panel" uib-collapse="vm.ocultarPagos">
                    <div class="panel-body">

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
